* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f7fa;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.signup {
  background: green;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  /* background-color: #7c7777; */
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text span {
  color: green;

}



.register {
  margin-top: 30px;
  background: green;
  color: white;
  border: none;
  padding: 9px 60px;
  border-radius: 8px;
}


.clients {
  text-align: center;
  padding: 60px 20px;
  background-color: white;

}

.client-logos {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 30px;

}

.client-logos img {
  width: 40px;
}


.features {
  text-align: center;
  padding: 60px 20px;
  background-color: white;

}

.features-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 80px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(237, 230, 230);

}

.well {
  background: white;


}

.hero-left img {
  width: 320px;
}

.hero-right {
  max-width: 520px;
  height: 50%
}

.hero-right h1 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #333;
}

.hero-right p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background: rgb(49, 216, 49);
  border: none;
  padding: 12px 22px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.stats {
  background: rgb(235, 232, 232);
  padding: 60px 0;
}

.stats-left h2 {
  font-size: 28px;
  color: #333;
}

.stats-left span {
  color: #28a745;
}

.stats-left p {
  color: #777;
  margin-top: 10px;
}

.stats-right {
  display: flex;
  gap: 80px;
  height: 100px;
  align-items: center;
  /* width:1px; */
}

.stat-box {
  display: flex;
  /* align-items: center; */
  flex-direction: row;
  gap: 30px;
}

.stat-box h3 {
  color: #333;
  font-size: 22px;
}

.stat-box p {
  color: #7c7777;
}

.stat-box img {
  height: 48px;
  width: 48px;

}


.container-info {
  background: white;
  padding: 60px 0;
}

.container-left img {
  width: 400px;
  gap: 80px;
}

.container-right {
  max-width: 720px;
  background-color: white;
}

.container-right h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.container-right p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

.hi {
  height: 80px;
  /* width:48px; */
}

.lay-right {
  max-width: 400px;
  padding: 60px 0;

}

.Lay-info {
  padding: 60px 0;
}

.Lay-left img {
  width: 400px;
  gap: 30px;
}

.Lay-right h3 {
  color: #28a745;


}

.Lay-right p {
  color: #656161;
  margin-bottom: 20px;
  line-height: 1.6;

}

.box {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.Lay-logos {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.all {
  background-color: transparent;
  color: #28a745;
  font-size: larger;

}

.blog {
  text-align: center;
  padding: 10px 20px;
  background: white;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 40px;
  text-align: center;
}

.subt {
  width: 50%;
}

.pic {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* width:1500px; */
  /* height: 286px; */
}

.cardpic {
  height: 150px;
  width: 80%;
  background-color:#e1e4e9;
  position: absolute;
  bottom: 0px;
  z-index: 2;
  left: 10%;
  bottom: -50px;
  border-radius: 20px;
  color:#656161; 
  padding: 40px;
  
  
}

.card-text {
  position: relative;
  width: 386px;
  height: 286px;
  
}

.img-pic {
  width: 386px;
  height: 286px;
  

}
.cardpic button{
  background-color: transparent;
  color: green;
  font-size: 15px;
  padding: 15px;
}
.read{
  display:flex;
  flex-direction: row;
  align-items:center;
          
}
.cta{
  text-align:center;
  padding:70px 20px;
  background:white;
}

.cta h1{
  font-size:36px;
  margin-bottom:25px;
}

.cta button{
  background:#28a745;
  color:#f8f0f0;
  border:none;
  /* padding:12px 28px; */
  font-size:16px;
  border-radius:5px;
  cursor:pointer;
  align-items: center;
  cursor: pointer;
}
.cta button:hover{
  background-color: rgb(87, 203, 87);
}
footer{
  background:#1f2d2f;
  color:#fff;
  padding:50px 40px;
}

.footer-container{
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;

  
}

.footer-container p{
  padding: 20px;

}



.footer-links{
  display:flex;
  gap:60px;
}

.footer-links h4{
  margin-bottom:12px;
}

.footer-links a{
  display:block;
  color:#ccc;
  margin-bottom:8px;
  text-decoration:none;
}

.footer-links input{
  padding:10px;
  border:none;
  border-radius:5px;
  outline:none;
}
.uptodate{
  background-color: #c3baba;
  /* color: white; */

}